{% extends "container.html" %}

{% block title %}About Us{% endblock %}

{% block nav-about %}
  <li class="active"><a href="#">
{% endblock %}

{% block content %}

<style type="text/css">
	.about-left {
	}

	.about p {
		text-align: justify;
	}

	.about img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
</style>

<div class="jumbotron">
<h1>Who are we?!</h1>
<p class="lead">
Team Bonanza is an elite group of english majors, theatre majors, history majors, business majors, and psychology majors bringing you the very best in technology (oh there are a couple of engineers too).
</p>

</div>
<div class="row-fluid about">
	<div class="span4">
		<img src="/static/about/gardnerj.png" class="img-polaroid" />
		<h2>Jacob V. Gardner</h2>
		<h4>Creative Director, Slagon Dlayer</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a arcu sed lacus consectetur luctus. Maecenas leo elit, eleifend id auctor eget, imperdiet non sapien. Nunc congue leo quis tellus vehicula ut vestibulum magna ullamcorper. Praesent ornare enim a ligula scelerisque dignissim. Nullam porttitor nibh id ante tristique blandit. Aliquam hendrerit feugiat tortor, in commodo ante tempus vitae. Fusce interdum dolor eget quam condimentum rutrum. Fusce sapien mi, vehicula et eleifend nec, pretium sit amet risus. Donec fermentum gravida metus a malesuada. Aliquam laoreet bibendum volutpat. Suspendisse potenti. </p>
	</div>
	<div class="span4">
		<img src="/static/about/gannone.png" class="img-polaroid" />
		<h2>Emily M. Gannon</h2>
		<h4>Writer, Actress, Tester</h4>
		<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis nulla turpis, mollis nec tristique id, condimentum quis risus. Sed aliquet neque ut purus vestibulum rutrum. Morbi iaculis dui quis nisl egestas lacinia. In metus libero, auctor et ultricies sed, venenatis auctor augue. Phasellus bibendum, sem nec dapibus pulvinar, mi elit varius mauris, ac iaculis tellus nibh id justo. </p>
	</div>
	<div class="span4">
		<img src="/static/about/reynoldsn.png" class="img-polaroid" />
		<h2>Nathan A. Reynolds</h2>
		<h4>Publisher, Mechanic</h4>
		<p>Cras consectetur lacinia varius. Aliquam et erat id urna malesuada malesuada consequat vitae diam. Vestibulum ullamcorper faucibus velit id porta. Mauris nulla nisi, consectetur sed ultrices et, commodo vel elit. Nunc vulputate pharetra massa a commodo. In hac habitasse platea dictumst. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed volutpat posuere magna et commodo. Proin venenatis vestibulum dolor, sit amet feugiat nulla ultrices id. Curabitur enim ipsum, rutrum ac euismod ut, mollis eget urna.  </p>
	</div>
</div>
{% endblock %}