{% extends "container.html" %}

{% block title %}Server List{% endblock %}

{% block nav-list %}
  <li class="active"><a href="#">
{% endblock %}


{% block content %}
<!-- Jumbotron -->
<div class="jumbotron">
<h1>Quick Connect <i class="icon-bolt"></i></h1>
<p class="lead">Press the comically large button below to be automatically joined to a game.</p>
<a class="btn btn-large btn-success" href="#">Quick Connect!</a><br/><br/>
<div class="alert alert-block alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Use at your own risk!</h4>
  We do not guarantee that the server you connect to will have intelligent, polite, clothed, or sentient players.   
  </div>
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
	<table id='gametable' class='table table-striped table-bordered'>
		<thead>
			<tr>
				<th class="span2" style="padding: 2px;">
					<input 
						id="game-number" type="text" class="span12" placeholder="Game #" style="margin: 0px;" 
						rel="tooltip" data-title="Search For A Specific Game Number" />
				</th>
				<th class="span5" style="padding: 2px;">
					<input 
						id="game-name" type="text" class="span12" placeholder="Game Name" style="margin: 0px;" 
						rel="tooltip" data-title="Filter Games By Name" />
				</th>
				<th class="span2" style="padding: 2px;">
					<select 
						id="player-filter" style="margin: 0px;" 
						rel="tooltip" data-title="Filter Out Full Games">
							<option>Players</option>
							<option>Hide Full Games</option>
					</select>
				</th>
				<th class="span4">
					<a href="#" rel="tooltip" data-title="Game Status - Probably Just a Random String">Status</a>
				</th>
				<th class="span3" style="padding: 2px;">
					<div 
						id="lock-filter" class="btn-group" data-toggle="buttons-radio"
						rel="tooltip" data-title="Filter Out Public/Private Games">
							<button type="button" class="btn active">All</button>
							<button type="button" class="btn">Private</button>
							<button type="button" class="btn">Public</button>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<style type="text/css">
	#sync {
		position: fixed;
		top: -40px;
		left: 50%;
		height: 40px;
		width: 500px;
		margin-left: -250px;
	}

	.alerts {
		z-index: 2000;
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0px;
		margin: 0px;
	}

	.alert {
		margin: 0;
	}

	.new-alert {
		left: -100%;
		position: relative;
	}

</style>



<div class="alerts" id="alerts">
<span id="alert-header"></span>
<!--
	<div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Warning!</strong> Best check yo self, you're not looking too good. </div>
	<div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Warning!</strong> Best check yo self, you're not looking too good. </div>
-->
</div>


<button id="sync" type="button" class="btn btn-info"><i class="icon-refresh icon-spin"></i> Syncronizing Content...</button>

<div id="password-dialog" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="wutIsThis" aria-hidden="true">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Please Enter The Game Password...</h3>
	</div>
	<form id="password-form">
		<div class="modal-body" style="padding-bottom: 0px">
			<input id="pass" type="password" class="input-small span4" placeholder="You Put The Password Here" />
	  	</div>
	  	<div class="modal-footer">
	    	<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    	<button type="submit" id="doit" class="btn btn-primary">Do it</button>
	  	</div>
  	</form>
</div>

<script type="text/javascript" src="/static/js/ui/jquery.ui.position.js"></script>
<script type="text/javascript">
	var player_filter = 'All';
	var lock_filter = 'All';
	var selected_game = null;
	var websockets_enabled = true;
	var connected_to_client = false;

	function remove_notification(id) {
		$('#' + id).animate({
			left: '100%'
		}, 600, 'swing', function() {
			$('#' + id).remove();	
		});
	}

	function add_notification(id, title, message, style) {

		if( $('#' + id).length != 0 )
			return;

		new_alert = $('<div class="alert new-alert">').addClass(style);
		new_alert.attr('id', id);

		close_btn = $('<button type="button" class="close" data-dismiss="alert">').html('&times;');
		new_alert.append(close_btn);

		title_txt = $('<strong>').html(title + ' ');
		new_alert.append(title_txt);

		msg_txt = $('<span>').html(message);
		new_alert.append(msg_txt);

		$('#alert-header').after(new_alert);

		new_alert.animate({
			left: '0'
	 	}, 800);
	}


	function set_csrf(xhr, settings) {
		console.log(settings);

     	if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
     	}
	}

	$('[rel=tooltip]').tooltip();
	function get_game(game_number, password) {

		$.ajax({
			url: '{% url "gamelist:retrieve_game" %}',
			beforeSend: set_csrf,
			data: {
				'game_number': selected_game,
				'password': $('#pass').val(),
			},
			type: 'POST',
			success: function(data, textStatus, jqXHR) {
				if(data.error != null) {
					alert(data.error);
				} else {
					console.log(data.connect_info);
				}

			},
		});
	}

	$('#password-form').submit(function() {
		if(selected_game) {
			get_game(selected_game, $('#pass').val());
			$("#password-dialog").modal('hide');
		}
		return false;
	});

	$('#player-filter').change(function() {
		player_filter = $('#player-filter').val();
		load_list();
	});

	$('#lock-filter > button.btn').on('click', function() {
		lock_filter = this.innerHTML;
		load_list();
	});

	var timeout1 = 0;
	$('#game-number').keyup(function() {
		clearTimeout(timeout1);
		timeout1 = setTimeout(load_list, 500);
	});

	var timeout2 = 0;
	$('#game-name').keyup(function() {
		clearTimeout(timeout2);
		timeout2 = setTimeout(load_list, 500);
	});

	function start_load(xhr, settings)
	{
		set_csrf(xhr, settings);	

		$('#sync').stop();

		$('#sync').animate({
			top: '-5px'
		}, 100);
	}

	function end_load()
	{
		$('#sync').stop();

		$('#sync').animate({
			top: '-40px'
		});
	}

	function add_row(element, index, array)
	{
		var row = $('<tr>');

		var game_number = $('<td>').text(element.game_number);
		var game_name = $('<td>').text(element.game_name);
		var players = $('<td>').text(element.players);
		var status = $('<td>').text(element.status);
		var locked = $('<td>');

		var icon_string = 'icon-unlock';

		var button = $('<button>').addClass('btn btn-info span12');

		if( element.locked == true )
		{
			icon_string = 'icon-lock';
			row.addClass('warning');
			button.click(function() {
				selected_game = element.game_number;
				$('#pass').val('');
				$('#password-dialog').modal();
			});
		} else {
			button.click(function() {
				selected_game = element.game_number;
				get_game(selected_game, null);
				//add_notification('example-alert', 'Title', 'Message', 'alert-error');
			});
		}


		var players_info = element.players.split('/');
		if( players_info[0] == players_info[1] ) {
			row.removeClass('warning');
			row.addClass('error');
		}

		var icon = $('<i>').addClass(icon_string).text(' Connect! ');
		button.append(icon);
		button.append($('<i>').addClass(icon_string));
		locked.append(button);

		row.append(game_number, game_name, players, status, locked);

		$('#gametable > tbody:last').append(row);

	}

	function populate_table(data, textStatus, jqXHR) {
		$('#gametable > tbody').empty();
		data.gamedata.forEach(add_row);
	}

	function load_list() {

		var game_number = $('#game-number').val();
		if( game_number == '' )
			game_number = null;

		var game_name = $('#game-name').val();
		if( game_name == '' )
			game_name = null;


		var filters = {
			'game_number': game_number,
			'game_name': game_name,
			'players': player_filter,
			'status': null,
			'locked': lock_filter,
		};

		$.ajax({
			url: '{% url "gamelist:games" %}',
			type: 'POST',
			beforeSend: start_load,
			complete: end_load,
			data: filters,
			success: populate_table,
			error: function(jqXHR, textStatus, error) {
				console.log(textStatus);
				console.log(error);
			},
		});
	}

	var websocket_timer = 0;
	var connection = 0;
	function attempt_connection() {
		websocket_timer = setTimeout(attempt_connection, 1500);

		if( connected_to_client == true )
			return;

		connection = new WebSocket('ws://localhost:65456/');

		connection.onopen = function() {
			connected_to_client = true;	
			remove_notification('no-connection');
			connection.send('Ping');
		}

		connection.onerror = function(error) {
			console.log(error);
		}

		connection.onmessage = function(e) {
			console.log('Server: ' + e.data);
		}

		connection.onclose = function() {
			add_notification('no-connection', 'Connection could not be established!', 'Please make sure you are running the <a href="{% url 'gamelist:download' %}">game client</a>.', 'alert-error');
			if( connected_to_client == true ) {
				console.log('Connection Lost');
			}
			connected_to_client = false;
		}
	}


	$(document).ready(function() {
		if( typeof(WebSocket) != 'function' ) {
			websockets_enabled = false; // :(
		}

		load_list();

		if( websockets_enabled ) {
			attempt_connection();
		}
	});

</script>


{% endblock %}