{% extends "container.html" %}

{% block title %}Server List{% endblock %}

{% block nav-list %}
  <li class="active"><a href="#">Server List</a></li>
{% endblock %}


{% block content %}
<!-- Jumbotron -->
<div class="jumbotron">
<h1>Quick Connect!</h1>
<p class="lead">Press the comically large button below to be automatically joined to a game.</p>
<a class="btn btn-large btn-success" href="#">Quick Connect!</a><br/><br/>
<div class="alert alert-block alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Use at your own risk!</h4>
  We do not guarantee that the server you connect to will have intelligent, polite, clothed, or sentient players.   
  </div>
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
<table id='gametable' class='table table-striped table-bordered'>
	<thead>
		<tr>
			<th class="span2" style="padding: 2px;"><input id="game-number" type="text" class="span12" placeholder="Game #" style="margin: 0px;" /></th>
			<th class="span5" style="padding: 2px;"><input id="game-name" type="text" class="span12" placeholder="Game Name" style="margin: 0px;" /></th>
			<th class="span2"><a href="#" rel="tooltip">Players</a></th>
			<th class="span4">Status</th>
			<th class="span3" style="padding: 2px;">
				<div id="lock-filter" class="btn-group" data-toggle="buttons-radio">
					<button type="button" class="btn active">All</button>
					<button type="button" class="btn">Private</button>
					<button type="button" class="btn">Public</button>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>


	<script type="text/javascript">
	$('[rel=tooltip]').tooltip({
		title: 'Click For Filter Options',
		placement: 'bottom',
	});

	var player_filter_group = $('<div id="player-filter" data-toggle="buttons-radio">').addClass('btn-group-vertical')
	var btn1 = $('<button type="button">').addClass('btn active span12').text('All');
	var btn2 = $('<button type="button">').addClass('btn span12').text('Hide Full Games');

	var player_filter = 'All';
	function filter_update() {
		player_filter = this.innerHTML;
		load_list();
	}

	btn1.on('click', filter_update)
	btn2.on('click', filter_update)
	player_filter_group.append(btn1);
	player_filter_group.append(btn2);

	$('[rel=tooltip]').popover({
		title: 'Filter Options',
		placement: 'top',	
		html: 'true',
		trigger: 'click',
		content: player_filter_group
	});

	var lock_filter = 'All';
	$('#lock-filter > button.btn').on('click', function() {
		lock_filter = this.innerHTML;
		load_list();
	});

	var timeout1 = 0;
	$('#game-number').keyup(function() {
		clearTimeout(timeout1);
		timeout1 = setTimeout(load_list, 500);
	});

	var timeout2 = 0;
	$('#game-name').keyup(function() {
		clearTimeout(timeout2);
		timeout2 = setTimeout(load_list, 500);
	});

	$.ajaxSetup({
		data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	});

	function start_load()
	{

	}

	function end_load()
	{

	}

	function add_row(element, index, array)
	{
		var row = $('<tr>');

		var game_number = $('<td>').text(element.game_number);
		var game_name = $('<td>').text(element.game_name);
		var players = $('<td>').text(element.players);
		var status = $('<td>').text(element.status);
		var locked = $('<td>');

		var icon_string = 'icon-unlock';

		var button = $('<button>').addClass('btn btn-info span12');

		if( element.locked == true )
		{
			icon_string = 'icon-lock';
		}

		var icon = $('<i>').addClass(icon_string).text(' Connect! ');
		button.append(icon);
		button.append($('<i>').addClass(icon_string));
		locked.append(button);

		row.append(game_number, game_name, players, status, locked);

		$('#gametable > tbody:last').append(row);

	}

	function populate_table(data, textStatus, jqXHR)
	{
		data.gamedata.forEach(add_row);
	}

	function load_list()
	{
		$('#gametable > tbody').empty();

		var game_number = $('#game-number').val();
		if( game_number == '' )
			game_number = null;

		var game_name = $('#game-name').val();
		if( game_name == '' )
			game_name = null;


		var filters = {
			'game_number': game_number,
			'game_name': game_name,
			'players': player_filter,
			'status': null,
			'locked': lock_filter,
		};

		$.ajax({
			url: '{% url "gamelist:games" %}',
			type: 'GET',
			beforeSend: start_load,
			complete: end_load,
			data: filters,
			success: populate_table,
			error: function(jqXHR, textStatus, error) {
				console.log(textStatus);
				console.log(error);
			},
			contentType: 'json',
		});
	}

	load_list();

	</script>
</div>
{% endblock %}