{% extends "container.html" %}

{% block nav-list %}
  <li class="active"><a href="#">Server List</a></li>
{% endblock %}


{% block content %}
<!-- Jumbotron -->
<div class="jumbotron">
<h1>Quick Connect!</h1>
<p class="lead">Press the comically large button below to be automatically joined to a game.</p>
<a class="btn btn-large btn-success" href="#">Quick Connect!</a><br/><br/>
<div class="alert alert-block alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Use at your own risk!</h4>
  We do not guarantee that the server you connect to will have intelligent, polite, clothed, or sentient players.   
  </div>
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
<table class='table table-striped'>
	<thead>
		<tr>
			<th class="span2">Game Number</th>
			<th class="span5">Game Name</th>
			<th class="span2">Players</th>
			<th class="span4">Status</th>
			<th class="span3">Connect</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>-1</td>
			<td>Example Row</td>
			<td>2/4</td>
			<td>Good?</td>
			<td><button class="btn btn-info span12"><i class="icon-lock"></i> Connect!</button></td>
		</tr>	
		<tr>
			<td>-2</td>
			<td>Another Example</td>
			<td>1/4</td>
			<td>Good?</td>
			<td><button class="btn btn-info span12"><i class="icon-unlock"></i> Connect!</button></td>
		</tr>	
		<tr>
			<td>-3</td>
			<td>Yet another won.</td>
			<td>4/4</td>
			<td>Good?</td>
			<td><button class="btn btn-info span12"><i class="icon-unlock"></i> Connect!</button></td>
		</tr>	
	</tbody>
</table>
</div>
{% endblock %}